html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #191970, black);
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px; /* Espaço entre texto e ícone */
    padding: 0 10%;
}

.textos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-family: Arial, sans-serif;
    color: #22D4FD;
    font-size: 65px;
    margin: 10px;
}

h2 {
    font-family: "Trebuchet MS", sans-serif;
    color: white;
    font-size: 40px;
    margin: 5px auto;
    font-weight: normal;
    letter-spacing: 1px;
}

.icone{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}